body {
  background-color: #edf7fa;
}

h1 {
  color: #1b262c
}

h3 {
  color: #66bfbf
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
